/* This is the CSS for the page itself. Customize this to your liking */

body {
    margin:0;
    background-color: #464;
    font-family: "Lucida Console", Monaco, monospace, sans-serif;
}
#header {
    background-color: #96c0ce;
    background-size: cover;
    height: 200px;
    overflow: hidden;
}
#headerText {
    font-size:54pt;
    text-align: center;
    color: #525564;
    padding:20px;
}

#spacer #headerText {
    color:white;
}

#spacer {
    width:100%;
    background-color: #c25b56;
    min-height:30px;
    margin-bottom:5px;
}

#limiter {
    margin: auto;
    width:85%;
    max-width: 1100px;
    text-align: center;
}
#blocksArea {
    margin: auto;
}

#resume {
    color: black;
    background-color: white;
}
#resume > div > .blockContentImage {
    width: 75px;
}

#blueprint {
    background-color: #6895c1;
    color: white;
}
#stackOverflow {
    background-color: #f7ac6e;
}

#stackOverflowCareers {
    background-color: white;
}

#linkedIn {
    background-color: white;
}
#linkedIn > .blockContent > .blockContentImage {
    width: 250px;
}

#facebook {
    color: white;
    background-color: #3b5698;
}
#facebook > .blockContent > .blockContentImage {
    width: 100px;
}

#wikipedia {
    background-color: #f6f6f6;
}

/* this overrides specific behavior for all blocks*/
.mainBlock {
    margin: 5px;
    text-align: center;
}
